<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!--header-->
  <link rel="stylesheet" href="../styles/mypage.css">

  <!--admin-user-->
  <link rel="stylesheet" href="../styles/admin-user.css">
  <script defer src="../js/admin-user.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>




  <title>고객관리 페이지</title>
</head>
<body>
  <%-include('header.ejs')%>
  <div class="admin_title">고객 정보</div>
  <div class="user_scroll">
    <div class="user_wrap"></div>
  </div>
  

</body>
</html>