<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리 페이지</title>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


	    <!-- 나의 스타일 추가 -->
		<link rel="stylesheet" href="../styles/admin.css">

	<script>

		$(document).ready(function () {
			listing();
		});

		function listing(id) {
			$.ajax({
			  type: "GET",
			  url: "/admin/product/list",
			  data: {},
			  success: function (response) {
				let rows = response.data;
				for (let i = 0; i < rows.length; i++) {
				  let productId = rows[i]["productId"];
				  let name = rows[i]["name"];
				  let price = rows[i]["price"];
				  let image = rows[i]["image"];
				  let stock = rows[i]["stock"];
				  let desc = rows[i]["desc"];
	
				  let temp_html = `<tbody>
					<tr>
						<td>
							<img src="${image}" alt="">
							<a class="user-link">${name}</a>
							<span class="user-subhead">상품번호 : ${productId}</span>
						</td>
						<td>
							${stock}
						</td>
						<td class="text-center">
							<span class="label label-default">${price}</span>
						</td>
						<td>
							<a>${desc}</a>
						</td>
						<td style="width: 20%;">
							<a id="editButton" onclick="editModal()" class="table-link">
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<i data-productId="${productId}"
									data-name="${name}"
									data-price="${price}"
									data-stock="${stock}"
									data-desc="${desc}"
									class="fa fa-pencil fa-stack-1x fa-inverse"></i>
								</span>
							</a>
							<a id="deleteButton" onclick="deleteProduct()" class="table-link danger">
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<i data-productId="${productId}" class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</td>
					</tr>
					
				</tbody>`
				  $("#productList").append(temp_html);
				};
			  },
			  error: function (error) {
				alert("목록 불러오기에 실패하였습니다.");
			  },
			});
		  }

		function uploadModal() {
			$('#uploadModal').modal('show');
			

		}

		/*
		function deleteModal() {
			let productId = event.target.dataset.productid
			let text = "정말로 삭제하시겠습니까?"
			$('#alertText').text(text);
			$('#alertModal').modal('show');
			
		}
		*/


		function editModal() {
			$('#editModal').modal('show');
			$('#edit-productId').replaceWith(`<a id="edit-productId">${event.target.dataset.productid}</a>`);
			$('#edit-productId1').attr("value", event.target.dataset.productid)
			document.getElementById('edit-name').value = event.target.dataset.name;
			document.getElementById('edit-price').value = event.target.dataset.price
			document.getElementById('edit-stock').value = event.target.dataset.stock
			document.getElementById('edit-desc').value = event.target.dataset.desc
		}

		function editProduct() {


			let productId = $('#edit-productId').html()
			let name = $('#edit-name').val()
			let price = $('#edit-price').val()
			let stock = $('#edit-stock').val()
			let desc = $('#edit-desc').val()
			let image = $('#edit-image').val()




				$.ajax({
				  method: "PATCH",
				  url: "/admin/product/edit",
				  data: {
					productId:productId,
					name:name,
					price:price,
					stock:stock,
					desc:desc,
					image:image

				},
				  success: function (response) {
					alert(response['message'])
				  window.location.reload()
				  }
				})

		}

	


		function deleteProduct() {
			let productId = event.target.dataset.productid
			console.log(productId)

			$.ajax({
				method: 'DELETE',
				url: '/admin/product/delete',
				data: { productId:productId },
				success: function (response) {
				  alert(response['message'])
				  window.location.reload()
				}
			  })
		}


		function editComplete(){
			let text = response
			$('#alertText').text(text)
			$('#alertModal').modal('show');
		}
		  


	</script>


</head>



<body>
	<header>

		<%- include('adminNavBar.ejs')%>
		
	</header>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container" id="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main-box clearfix">
					<div class="table-responsive">
						<table id="productList" class="table user-list">
							<thead>
								<tr>
									<th><span>상품이름</span></th>
									<th class="text-center"><span>재고수량</span></th>
									<th class="text-center"><span>가격</span></th>
									<th><span>상품설명</span></th>
									<th>&nbsp;</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

		<button type="button" onclick="uploadModal()" id="addProduct" class="btn btn-primary btn-lg">상품 추가</button>

	</div>
	</div>

	<div class="modal text-left" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
		aria-hidden="true">
		<div class="form1">
			<form action="/admin/product/add" method="post" enctype="multipart/form-data">
				<div class="form-group col-md-6">
					<label for="inputEmail4">상품이름</label>
					<input type="text" name="name" class="form-control" id="name" placeholder="상품이름">
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword4">가격</label>
					<input type="text" name="price" class="form-control" id="price" placeholder="가격">
				</div>
				<div class="form-group col-md-4">
					<label for="inputState">재고수량</label>
					<input type="text" name="stock" class="form-control" id="stock" placeholder="재고수량">
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="exampleFormControlTextarea1">상품설명</label>
					<textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
				</div>
				<div class="form-group col-md-4">
					<label for="exampleFormControlFile1">상품사진</label>
					<input type="file" name="image" class="form-control-file" id="image">
				</div>

				<button type="button" value="request" class="btn btn-primary">상품등록</button>
			</form>
		</div>


	</div>

	<div class="modal text-left"  id="editModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
		aria-hidden="true">
		<div class="form1">
			<form name="edit-form" action="/admin/product/edit" method="post" enctype="multipart/form-data">
				<div class="form-group col-md-6">
					<a>상품번호 : </a>
					<a id="edit-productId" name="productId" value=""></a>
					<input type="hidden" name="productId" id="edit-productId1" value="">
				</div>

				<div class="form-group col-md-6">
					<label for="inputEmail4">상품이름</label>
					<input type="text" name="name" class="form-control" id="edit-name" placeholder="상품이름">
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword4">가격</label>
					<input type="text" name="price" class="form-control" id="edit-price" placeholder="가격">
				</div>
				<div class="form-group col-md-4">
					<label for="inputState">재고수량</label>
					<input type="text" name="stock" class="form-control" id="edit-stock" placeholder="재고수량">
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="exampleFormControlTextarea1">상품설명</label>
					<textarea class="form-control" name="desc" id="edit-desc" rows="3"></textarea>
				</div>
				<div class="form-group col-md-4">
					<label for="exampleFormControlFile1">상품사진</label>
					<input type="file" name="image" class="form-control-file" id="edit-desc" id="image">
				</div>

				<button id="editButton1" type="submit" value="request" class="btn btn-primary">상품수정</button>
			</form>
		</div>

	<!-- <div class="modal text-left" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertModalLabel">알림</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="alertText">
				</div>
				<div class="modal-footer">
					<button onclick="deleteProduct()"id="deleteConfirm" type="button" class="btn btn-outline-sparta btn-confirm" data-dismiss="modal">
						확인
					</button>
				</div>
			</div>
		</div>
	</div> -->


<!-- 
	<div class="alertModal" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">알림</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="alertText">
			  <p></p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div> -->


</body>

</html>