<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!--header-->
  <link rel="stylesheet" href="../styles/mypage.css">

  <!--admin-user-->
  <link rel="stylesheet" href="../styles/admin-user.css">
  <script defer src="../js/admin-user.js"></script>



  <title>고객관리 페이지</title>
</head>
<body>
  <%-include('header.ejs')%>
  <div class="user_wrap">
    <div class="admin_title">고객 정보</div>
    <div class="usercontent_wrap">
      <div class="userlist_wrap">
        <div class="userAll_wrap">
          <div class="user_label">
            <label>닉네임</label>
            <label>이름</label>
            <label>이메일</label>
          </div>
  
          <div class="user_input">
            <input class="user_info" id="nickname" type="text" readonly>
            <input class="user_info" id="name" type="text" readonly>
            <input class="user_info" id="email" type="text" readonly>
          </div>
        </div>

        <div class="user_button">
          <button class="userbtn">삭제</button>
        </div>


      </div>

    </div>

  </div>
</body>
</html>