<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리 페이지</title>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

	<style>
		body {
			margin-top: 20px;
		}

		/* USER LIST TABLE */
		.user-list tbody td>img {
			position: relative;
			max-width: 50px;
			float: left;
			margin-right: 15px;
		}

		.user-list tbody td .user-link {
			display: block;
			font-size: 1.25em;
			padding-top: 3px;
			margin-left: 60px;
		}

		.user-list tbody td .user-subhead {
			font-size: 0.875em;
			font-style: italic;
		}

		/* TABLES */
		.table {
			border-collapse: separate;
		}

		.table-hover>tbody>tr:hover>td,
		.table-hover>tbody>tr:hover>th {
			background-color: #eee;
		}

		.table thead>tr>th {
			border-bottom: 1px solid #C2C2C2;
			padding-bottom: 0;
		}

		.table tbody>tr>td {
			font-size: 0.875em;
			background: #f5f5f5;
			border-top: 10px solid #fff;
			vertical-align: middle;
			padding: 12px 8px;
		}

		.table tbody>tr>td:first-child,
		.table thead>tr>th:first-child {
			padding-left: 20px;
		}

		.table thead>tr>th span {
			border-bottom: 2px solid #C2C2C2;
			display: inline-block;
			padding: 0 5px;
			padding-bottom: 5px;
			font-weight: normal;
		}

		.table thead>tr>th>a span {
			color: #344644;
		}

		.table thead>tr>th>a span:after {
			content: "\f0dc";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			margin-left: 5px;
			font-size: 0.75em;
		}

		.table thead>tr>th>a.asc span:after {
			content: "\f0dd";
		}

		.table thead>tr>th>a.desc span:after {
			content: "\f0de";
		}

		.table thead>tr>th>a:hover span {
			text-decoration: none;
			color: #2bb6a3;
			border-color: #2bb6a3;
		}

		.table.table-hover tbody>tr>td {
			-webkit-transition: background-color 0.15s ease-in-out 0s;
			transition: background-color 0.15s ease-in-out 0s;
		}

		.table tbody tr td .call-type {
			display: block;
			font-size: 0.75em;
			text-align: center;
		}

		.table tbody tr td .first-line {
			line-height: 1.5;
			font-weight: 400;
			font-size: 1.125em;
		}

		.table tbody tr td .first-line span {
			font-size: 0.875em;
			color: #969696;
			font-weight: 300;
		}

		.table tbody tr td .second-line {
			font-size: 0.875em;
			line-height: 1.2;
		}

		.table a.table-link {
			margin: 0 5px;
			font-size: 1.125em;
		}

		.table a.table-link:hover {
			text-decoration: none;
			color: #2aa493;
		}

		.table a.table-link.danger {
			color: #fe635f;
		}

		.table a.table-link.danger:hover {
			color: #dd504c;
		}

		.table-products tbody>tr>td {
			background: none;
			border: none;
			border-bottom: 1px solid #ebebeb;
			-webkit-transition: background-color 0.15s ease-in-out 0s;
			transition: background-color 0.15s ease-in-out 0s;
			position: relative;
		}

		.table-products tbody>tr:hover>td {
			text-decoration: none;
			background-color: #f6f6f6;
		}

		.table-products .name {
			display: block;
			font-weight: 600;
			padding-bottom: 7px;
		}

		.table-products .price {
			display: block;
			text-decoration: none;
			width: 50%;
			float: left;
			font-size: 0.875em;
		}

		.table-products .price>i {
			color: #8dc859;
		}

		.table-products .warranty {
			display: block;
			text-decoration: none;
			width: 50%;
			float: left;
			font-size: 0.875em;
		}

		.table-products .warranty>i {
			color: #f1c40f;
		}

		.table tbody>tr.table-line-fb>td {
			background-color: #9daccb;
			color: #262525;
		}

		.table tbody>tr.table-line-twitter>td {
			background-color: #9fccff;
			color: #262525;
		}

		.table tbody>tr.table-line-plus>td {
			background-color: #eea59c;
			color: #262525;
		}

		.table-stats .status-social-icon {
			font-size: 1.9em;
			vertical-align: bottom;
		}

		.table-stats .table-line-fb .status-social-icon {
			color: #556484;
		}

		.table-stats .table-line-twitter .status-social-icon {
			color: #5885b8;
		}

		.table-stats .table-line-plus .status-social-icon {
			color: #a75d54;
		}

		.form1 {
			position: absolute;
			top: 0;
			left: 0;

			width: 500px;
			height: 900px;


			background-color: white;
		}
	</style>

	<script>

		$(document).ready(function () {
			listing();
		});

		function listing(id) {
			$.ajax({
			  type: "GET",
			  url: "/admin/order/list",
			  data: {},
			  success: function (response) {
				let rows = response.data;
				console.log(rows)
				for (let i = 0; i < rows.length; i++) {
					let image = rows[i]["image"]
					let name = rows[i]["name"]
					let orderId = rows[i]["orderId"]
					let amount = rows[i]["amount"]
					let nickname = rows[i]["nickname"]
					let address = rows[i]["address"]
	
				  let temp_html = `<tbody>
					<tr>
						<td>
							<img src="${image}" alt="">
							<a class="user-link">${name}</a>
							<span class="user-subhead">주문번호 : ${orderId}</span>
						</td>
						<td>
							${amount}
						</td>
						<td class="text-center">
							<span class="label label-default">${nickname}</span>
						</td>
						<td>
							<a>${address}</a>
						</td>
						<td style="width: 20%;">
							<!-- <a id="editButton" onclick="editModal()" class="table-link">
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<i data-orderId="${orderId}" class="fa fa-pencil fa-stack-1x fa-inverse"></i>
								</span>
							</a> -->
							<a id="deleteButton" onclick="deleteOrder()" class="table-link danger">
								<span class="fa-stack">
									<i class="fa fa-square fa-stack-2x"></i>
									<i data-orderId="${orderId}" class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</td>
					</tr>
					
				</tbody>`
				  $("#productList").append(temp_html);
				};
			  },
			  error: function (error) {
				alert("목록 불러오기에 실패하였습니다.");
			  },
			});
		  }

		function uploadModal() {
			$('#uploadModal').modal('show');
		}

		/*
		function deleteModal() {
			let productId = event.target.dataset.productid
			let text = "정말로 삭제하시겠습니까?"
			$('#alertText').text(text);
			$('#alertModal').modal('show');
			
		}
		*/


		function editModal() {
			$('#editModal').modal('show');
			
		}

		function deleteOrder() {

			let orderId = event.target.dataset.orderid
			console.log(orderId)

			$.ajax({
				method: 'DELETE',
				url: '/admin/order/delete',
				data: { orderId:orderId },
				success: function (response) {
				  alert(response['message'])
				  window.location.reload()
				}
			  })

		}
		  


	</script>


</head>



<body>
	<header>

		<%- include('adminNavBar.ejs')%>
		
	</header>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container" id="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main-box clearfix">
					<div class="table-responsive">
						<table id="productList" class="table user-list">
							<thead>
								<tr>
									<th><span>상품이름</span></th>
									<th class="text-center"><span>주문수량</span></th>
									<th class="text-center"><span>주문자명</span></th>
									<th><span>주소</span></th>
									<th>&nbsp;</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
	</div>

	<div class="modal text-left" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
		aria-hidden="true">
		<div class="form1">
			<form action="/admin/product/add" method="post" enctype="multipart/form-data">
				<div class="form-group col-md-6">
					<label for="inputEmail4">상품이름</label>
					<input type="text" name="name" class="form-control" id="name" placeholder="상품이름">
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword4">가격</label>
					<input type="text" name="price" class="form-control" id="price" placeholder="가격">
				</div>
				<div class="form-group col-md-4">
					<label for="inputState">재고수량</label>
					<input type="text" name="stock" class="form-control" id="stock" placeholder="재고수량">
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="exampleFormControlTextarea1">상품설명</label>
					<textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
				</div>
				<div class="form-group col-md-4">
					<label for="exampleFormControlFile1">상품사진</label>
					<input type="file" name="image" class="form-control-file" id="image">
				</div>

				<button type="submit" value="request" class="btn btn-primary">상품등록</button>
			</form>
		</div>


	</div>

	<div class="modal text-left" id="editModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
		aria-hidden="true">
		<div class="form1">
			<form action="/admin/product/edit" method="patch" enctype="multipart/form-data">
				<div class="form-group col-md-6">
					<label for="inputEmail4">상품이름</label>
					<input type="text" name="name" class="form-control" id="name" placeholder="상품이름">
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword4">가격</label>
					<input type="text" name="price" class="form-control" id="price" placeholder="가격">
				</div>
				<div class="form-group col-md-4">
					<label for="inputState">재고수량</label>
					<input type="text" name="stock" class="form-control" id="stock" placeholder="재고수량">
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="exampleFormControlTextarea1">상품설명</label>
					<textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
				</div>
				<div class="form-group col-md-4">
					<label for="exampleFormControlFile1">상품사진</label>
					<input type="file" name="image" class="form-control-file" id="image">
				</div>

				<button type="submit" value="request" class="btn btn-primary">상품수정</button>
			</form>
		</div>

	<div class="modal text-left" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertModalLabel">알림</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="alertText">
				</div>
				<div class="modal-footer">
					<button onclick="deleteProduct()"id="deleteConfirm" type="button" class="btn btn-outline-sparta btn-confirm" data-dismiss="modal">
						확인
					</button>
				</div>
			</div>
		</div>
	</div>

</body>

</html>